<%- include('../partials/head') %>
<div>
        <h2>Here are the restaurants</h2>
    <% restaurants.forEach(restaurant => { %>
<!-- // loop into restaurants to show all -->
        <div class="restaurant-link">
        <b><a href = "reviews/<%=restaurant.id%>">Name: <%= restaurant.name %></a></b>
        </div>
        <p>Location: <%= restaurant.location %></p>
        <p>Cuisine: <%= restaurant.cuisine %></p>
        <% }) %>
        <button type="submit" class= "addnewbutton"><a href="/restaurants/new">Add new restaurant</a></button>
</div>
<div>
<%- include('../partials/filterRestaurant') %>
</div>

<%- include('../partials/footer') %>
<%- include('../partials/foot') %>
