<%- include('./partials/head') %>
<h2>Pre-filled edit Form</h2>
<form 
  method="POST"
  action="/reviews/<%= reviews.id %>?_method=PUT">
  <div>
  <label for="author">Author:  </label>
  <input value="<%= reviews.author %>"
  type="text" name="author" id="author />
</div>
<div>
  <label for="content">Content:  </label>
  <input value="<%= reviews.content %>"
  type="text" name="content" id="content" />
</div>
<br />
  <input type="submit" class ="updatebutton"><a href="/reviews/edit">Update review</a></button>

</form>
<%- include('./partials/footer') %>


form can only post or get NOT put or delete - 
thats when we use methodoverride 


